{% extends 'admin.html' %}
{% load static %}
{% block page_title %} 
    <title>Home</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block username %} {{request.user}} {% endblock %} 
{% block page_status %} Dashboard {% endblock %}

<!-- Electronics money details  -->
{% block details %}
    <div class="balance">
        <span id="title">Balance</span>
        <hr>
        <strong>{{customer.amount}}</strong>Tsh.
    </div>
{% endblock %}

<!-- Customer details views -->
{% block views %}
    <div class="home_costomer_views">
        <span id="table_title">Account details</span>

        {% if user_group == 'admin' %}
            <div class="permisions">
                <form action="{% url 'permition' id=customer.pk %}" method="post">
                    {% csrf_token %}
                    <strong><big>Permision:</big></strong>
                    <select name="permision" id="permit">
                        <option>--Select--</option>
                        <option value="activate">Activate</option>
                        <option value="block">Block</option>
                        <option value="delete">Delete</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        {% endif %}

        <hr id="details_line">
        <table class="account_details">
            <tbody>
                <tr>
                    <th>Username:</th>
                    <td>{{customer.user.username}}</td>
                </tr>
                <tr>
                    <th>First name:</th>
                    <td>{{customer.user.first_name}}</td>
                </tr>
                <tr>
                    <th>Last name:</th>
                    <td>{{customer.user.last_name}}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{customer.user.email}}</td>
                </tr>
                <tr>
                    <th>Card number:</th>
                    <td>{{customer.card_no}}</td>
                </tr>
                <tr>
                    <th>Reg. date:</th>
                    <td>{{customer.user.date_joined}}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    {% if customer.status %}
                        <td style="color: green;"><strong>Active</strong></td>
                    {% else %}
                        <td style="color: red;"><strong>Blocked</strong></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

<!-- Customer transaction details -->
<div class="trans_details">
    <span id="table_title">Transaction details</span>
    <hr id="details_line">
    <table class="details">
        <thead>
            <tr style="text-decoration: underline;">
                    <th><big>Date</big></th>
                    <th><big>Details</big></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr style="font-size: 15px;">
                    <th>{{transaction.date}}</th>
                    <td>{{transaction.details}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
