{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Children tracking system</h1>
            <span class="user">
                {{request.user}} |
                <a href="{% url 'logout' %}">Logout</a>
            </span>
        </div>

        <div class="info_msg">
            {% for message in messages %}
                <h3 class="{{ message.tags }}" >{{message}}</h3>
            {% endfor %}
        </div>

        {% if informations is None %}
            <div class="accident-item">
                <h2>Safe condition</h2>
            </div>
        {% else %}
            <!-- Show information about accidents here -->
            {% for info in informations %}
                <div class="accident-item">
                    <h2><strong><big>Name:</big></strong> {{info.username}}</h2>
                    <p><strong><big>Device number:</big></strong> {{info.device_number}}</p>
                    <p><strong><big>Heart rate:</big></strong> {{info.heart_rate}}</p>
                    <p><strong><big>Body temperature:</big></strong> {{info.body_temperature}}</p>
                    <p><strong><big>Contacts:</big></strong> {{info.contacts}}</p>
                    <a href="{% url 'location' id=info.id %}"><big>Show Location</big></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>