{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <!-- Add necessary CSS stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <!-- Header section -->
  <header>
    <h1>Home page</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">{{request.user}}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
  </header>

  <!-- Main content section -->
  <section id="main-content">
    <h2>Meter No: {{context.meter_number}} </h2>
    <div id="notifications-container">
      <div class="notification">
        <h3>Units: {{context.units}} psi.</h3>
        <p>Balance: {{context.amount}} Tsh.</p>
        <small style="font-size: x-small;"><i><a href="{% url 'payment' %}">Payment</a></i></small>
        <small style="font-size: x-small;"><i><a href="{% url 'notification' %}">Notifications</a></i></small>
        <small style="font-size: x-small;"><i><a href="{% url 'payment_history' %}">Payment History</a></i></small>
      </div>
    </div>
  </section>
</body>
</html>