{% extends 'dashboard.html' %}
{% load static %}
{% block title %} Registration Page {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block data %} {% endblock %} 
{% block content %}
    <div class="auth_form">
        <div class="side_img">
            <img src="{% static 'assets/img/hospital.jpeg' %}" alt="Login_IMG">
        </div>
        <div id="reg_form" class="side_form">
            <center>
                <form action="{% url 'hospital_reg' %}" method="post">
                    {% csrf_token %}
                    <h1>Hospital Registration</h1>
                    <input type="text" name="hospital_name" placeholder=" Hospital name" required>
                    <input type="text" name="reg_number" placeholder=" Registration number (will be Login ID)" required>
                    <input type="text" name="latitude" placeholder=" Latitude" required>
                    <input type="text" name="longitude" placeholder=" Longitude" required>
                    <input type="password" name="password1" placeholder=" Password" required>
                    <input type="password" name="password2" placeholder=" Comfirm password" required>
                    <input id="submit_btn" type="submit" value="Register">
                </form>
                
                {% for message in messages %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endfor %}

                Allread have an Account: <a href="{% url 'login' %}">Login</a>
            </center>
        </div>
    </div>
    
{% endblock %}