{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <!-- Add necessary CSS stylesheets and JavaScript files -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <!-- Header section -->
  <header>
    <h1>Welcome to Login page</h1>
    <nav>
      <ul>
        <li><a href="{% url 'register' %}">Signup</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main content section -->
    <section id="main-content">
        <h2>Login page</h2>
    
        <!-- Login form -->
        <div id="login-form">
        <h3>Login</h3>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>

          {% for message in messages %}
              <p class="{{message.logs}}">{{message}}</p>
          {% endfor %}

          <button type="submit">Login</button>
        </form>
        </div>
    </section>
</body>
</html>