{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location tracking</title>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrzIe3qsgw_1IjxbUj2skzr2_yJH9wKm0&callback=initMap">
    </script>
</head>
<body>
    <h2>Location tracking for {{context.user.username}}</h2>
    <div id="map" style="width: 100%; height: 500px;"></div>

    <div id="accident_info" class="info">
        <h4>Location Information</h4>
        <div class="content">
            <strong>Coutry:</strong> {{context.location.country}} <br>
            <strong>Region:</strong> {{context.location.regionName}} <br>
            <strong>City:</strong> {{context.location.city}} <br>
            <strong>District:</strong> {{context.location.district}} <br>
            <strong>ZIP:</strong> {{context.location.zip}} <br>
        </div>
    </div>

    <script>
        // var vehicle_number = '{{informations.vehicle_number}}';
        // var date = '{{informations.date}}';
        // var time = '{{informations.time}}';
        // var description = '{{informations.description}}';
        // var latitude = '{{informations.latitude}}';
        // var longitude = '{{informations.longitude}}';

        var our_latitude = '{context.location.lat}}';
        var our_location = '{context.location.ln}}';
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>