{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Notifications</title>
  <!-- Add necessary CSS stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <!-- Header section -->
  <header>
    <h1>Welcome to Notifications</h1>
    <nav>
      <ul>
        <ul>
            <li><a href="{% url 'home' %}">{{request.user}}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </ul>
    </nav>
  </header>

  <!-- Main content section -->
  <section id="main-content">
    <h2>Notifications</h2>
    <div id="notifications-container">
      <!-- Placeholder for displaying notifications -->
      {% for notification in context %}
      ---------------------------------------------
        <div class="notification">
          <h3>{{notification.title}}</h3>
          <p>{{notification.detail}}</p>
          <p class="notification-time">{{notification.date_time}}</p>
        </div>
      {% endfor %}
    </div>
  </section>
</body>
</html>
