{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <!-- Add necessary CSS stylesheets and JavaScript files -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <!-- Header section -->
  <header>
    <h1>Welcome to Registration page</h1>
    <nav>
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main content section -->
  <section id="main-content">
    <h2>Registration page</h2>
    <!-- Register form -->
    <div id="register-form">
      <h3>Register</h3>
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="name">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="meter_number">Meter number:</label>
        <input type="text" id="meter_number" name="meter_number" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">Confirm assword:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        {% for message in messages %}
          <p class="{{message.logs}}">{{message}}</p>
        {% endfor %}

        <button type="submit">Register</button>
      </form>
    </div>
  </section>
</body>
</html>
