{% extends 'registration.html' %}
{% load static %}
{% block content %}
    <h2>Medical report</h2>
    <div class="col_w880 portfolio">
        <hr><hr>
        <div class="col_w400 float_l">
            <div class="medical_report">

                <h5 class="info_heading"><strong>New reports:</strong></h5>
                {% if new_reports %}
                    {% for report in new_reports %}
                        <p><strong>Report ID: </strong>{{report.patient.code}}<a href="{% url 'doctor' report=report %}"> Examine</a> <br></p>
                    {% endfor %}
                {% else %}
                    <strong>There is no any new report to examine</strong>
                {% endif %}


                <div class="cleaner h30"></div>
                <h5 class="info_heading"><strong>All reports:</strong></h5>
                {% if all_reports %}
                    {% for report in all_reports %}
                        <p><strong>Report ID: </strong>{{report.patient.code}}<br></p>
                    {% endfor %}
                {% else %}
                    <strong>This page has no any report at all</strong>
                {% endif %}

            </div> 
        </div>    
    </div>
{% endblock %}
 