{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %} 
        <title>Admin pannel</title>
    {% endblock %}
    {% block links %}
        <link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% endblock %}
</head>
<body>
    <!-- Title bar and menu -->
    <div class="heading">
        <div class="title">
            
            <a href="{% url 'admin' %}">Sanitary Towel</a>
        </div>
        <div class="menu">
            <ul>
                <li>{% block username %}{{request.user}}{% endblock %}</lri>
                <li>{% block logout_link %} <a id="logout_link" href="{% url 'logout' %}"> logout </a> {% endblock %}</li>
            </ul>
        </div>
    </div>
    <!-- Ending of Title bar -->

    <!-- Login status Notifacation -->
    <div class="status">
        <span> {% block page_status %} Admin Pannel {% endblock %} </span> 
    </div>
    <!-- End of login status -->
    
    <!-- Details -->

    {% block details %}
        <div class="details">
            <div class="sales">
                <span id="title">Sales</span><hr>
                <strong>{{data.sales}}</strong>
            </div>
            <div class="revenue">
                <span id="title">Revenue</span><hr>
                <strong>{{data.revenue}}</strong> TSh.
            </div>
            <div class="customers">
                <span id="title">Customers</span><hr>
                <strong>{{data.no_of_customers}}</strong>
            </div>
        </div>
    {% endblock %}
    <!-- End Details -->

    <!-- Costormers view-->
    {% block views %}
        <div class="costomer_views">
            <form class="search_form" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Custormer username">
                <input type="submit" value="Search">

            </form>

            <div class="search_msg">
                {% for message in messages %}
                    <p class="{{message.logs}}">{{message}}</p>
                {% endfor %}
            </div>

            <span id="table_title">Customer details</span>
            <center>
                <table class="costormer_table">
                    <thead>
                        <tr>
                            <th>USERNAME</th>
                            <th>CARD NO.</th>
                            <th>BALANCE</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{customer.user.username}}</td>
                                <td>{{customer.card_no}}</td>
                                <td>{{customer.amount}} Tsh.</td>
                                <td>
                                    {% if customer.status == 'Active' %}
                                        <span class="active_status">
                                    {% else %}
                                        <span class="blocked_status">
                                    {% endif %}
                                            <a href="../home/{{customer.pk}}">{{customer.status}}</a>
                                        </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>
    {% endblock %}
    <!-- End of customers view -->


    <Footer>
        <center>
            <hr>
            &copy; Copyright <strong>DIT</strong>, Projects 2022/23 <br>
            Engineer: <strong>Jesca Alex</strong>
        </center>
    </Footer>

</body>
</html>