{% extends 'register.html' %}
{% load static %}
{% block title %} Hospital cure - Device reg. {% endblock %}

{% block container %}
    <h4>Register new device</h4>
    <h6 class="font-weight-light">It's easy. It only takes a few steps</h6>
    <form class="pt-3" action="{% url 'device_reg' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" name="device_number" placeholder="Device number" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" name="ward_name" placeholder="Ward name" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword1" name="bed_number" placeholder="Bed number" required>
        </div>

        <div class="text-center mt-4 font-weight-light">
            {% for message in messages %}
              <p class="{{message.tags}}">{{message}}</p>
            {% endfor %}
          </div>
          
        <div class="mt-3">
            <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="REGISTER">
        </div>
    </form>
{% endblock %}