{% extends 'registration.html' %}
{% load static %}
{% block content %}
    <h2>Medical service</h2>
    <div class="col_w880 portfolio">
        <hr><hr>
        <div class="col_w400 float_l">
            <div class="medical_report">
                <h5 class="info_heading"><strong>Patient informations:</strong></h5>
                <div class="content_informations"><strong>Full name: </strong>{{context.patient.surname}}, {{context.patient.first_name}} {{context.patient.middle_name}}</div>
                <div class="content_informations"><strong>Blood group: </strong>{{context.patient.blood_group}}</div>
                <div class="content_informations"><strong>Age: </strong>{{context.patient_age}} years</div>
                <div class="content_informations"><strong>Gender: </strong>{{context.patient.gender}}</div>

                <div class="cleaner h10"></div>
                <div class="cleaner h10"></div>
                <h5 class="info_heading"><strong>Medical examinations:</strong></h5>
                <div>{{context.medical.medical_examination}}</div>

                <div class="cleaner h10"></div>
                <div class="cleaner h10"></div>
     
                <form method="post" action="{% url 'doctor' report=context.code %}">
                    {% csrf_token %}
                    <h5 class="info_heading"><strong>Treatment advice:</strong></h5>
                    <textarea name="doctor_report" cols="80" rows="4" style="padding: 10px;"></textarea>

                    <input type="submit" value="Submit" class="submit_btn float_l" />
                </form>

                <div class="cleaner">
                    {% for message in messages %}
                        <p class="{{message.tags}}">{{message}}</p>
                    {% endfor %}
                </div>
            </div> 
        </div>
        
        {% if context.treatment %}
            <div id="download_link" class="cleaner" style="float: right; margin: 0 50px;">
                <p><strong><a href="{% url 'generate_treatment_advice_PDF' code=context.code advice=context.treatment %}">Download</a></strong> Treatment report</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
 