{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <center>
        <h1 class="heading">Circuit breaker control system</h1>
        <img src="{% static 'images/breaker.png' %}" alt="Breaker Image">
        <div>
            <form id="submit_form" action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <button id="submit_btn" class="button">{{data.state}}</button>
            </form>
        </div>
    </center>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>