{% extends 'registration.html' %}
{% load static %}
{% block menu %}{% endblock %}
{% block content %}
     <h2>Login Page</h2>
    <div class="col_w880 portfolio">
        <div class="col_w400 float_l">
            <div id="contact_form">
                <form method="post" name="contact" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label for="username">Username</label> <input type="text" maxlength="40" id="username" class="input_field" name="username" />
                    <div class="cleaner h10"></div>
                            
                    <label for="password">Password</label> <input type="password" maxlength="40" id="password" class="input_field" name="password" />
                    <div class="cleaner h10"></div>

                    {% for message in messages %}
                        <p class="{{message.tags}}">{{message}}</p>
                    {% endfor %}

                    <input type="submit" value="LogIn" id="submit" name="submit" class="login_btn float_l" />
                </form>
            </div> 
        </div>
    </div>
{% endblock %}
 