{% extends 'index.html' %}
{% load static %}
{% block contents %}
<div class="container-fluid">
    <div class="row justify-content-center align-iterms-center" style="height: 100vh;">
        <div class="col-md-6 card card-center">
            <div class="cards__heading">
                <h3>Registration Page <span></span></h3>
            </div>
            <div class="card-body">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username" class="input__label">Username</label>
                            <input type="text" class="form-control input-style" name="username" placeholder="Enter username">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="card_number" class="input__label">Card number</label>
                            <input type="text" class="form-control input-style" name="card_number" placeholder="Enter card number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="input__label">Password</label>
                        <input type="password" class="form-control input-style" name="password" placeholder="Enter user password">
                    </div>
                    <div class="form-group">
                        <label for="password2" class="input__label">Confirm password</label>
                        <input type="password" class="form-control input-style" name="password_confirm" placeholder="Confirm user password">
                    </div>

                    {% for message in messages %}
                        <p class="{{message.tags}}">{{message}}</p>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-style mt-4">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}